@{
    ViewBag.Title = "О насс";
    ViewBag.Description = "Страницв о нас";
    ViewBag.KeyWords = "О, Кирилин Михаил";
}


<div class="about">
    <img class="about__image" src="~/img/me.jpg">
    <div class="article">
        <h1 class="maintitle maintitle_margin">Я программист</h1>
        <p class="simpletext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum unde magni reprehenderit quaerat explicabo laudantium minima voluptas aut ipsam ipsum nihil dignissimos deserunt illo optio odio tempore repudiandae, quasi non!</p>
        <p class="simpletext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum unde magni reprehenderit quaerat explicabo laudantium minima voluptas aut ipsam ipsum nihil dignissimos deserunt illo optio odio tempore repudiandae, quasi non!</p>
        <p class="simpletext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum unde magni reprehenderit quaerat explicabo laudantium minima voluptas aut ipsam ipsum nihil dignissimos deserunt illo optio odio tempore repudiandae, quasi non!</p>
        <p class="simpletext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum unde magni reprehenderit quaerat explicabo laudantium minima voluptas aut ipsam ipsum nihil dignissimos deserunt illo optio odio tempore repudiandae, quasi non!</p>
        <p class="simpletext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum unde magni reprehenderit quaerat explicabo laudantium minima voluptas aut ipsam ipsum nihil dignissimos deserunt illo optio odio tempore repudiandae, quasi non!</p>
        <p class="simpletext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum unde magni reprehenderit quaerat explicabo laudantium minima voluptas aut ipsam ipsum nihil dignissimos deserunt illo optio odio tempore repudiandae, quasi non!</p>
        <p class="simpletext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum unde magni reprehenderit quaerat explicabo laudantium minima voluptas aut ipsam ipsum nihil dignissimos deserunt illo optio odio tempore repudiandae, quasi non!</p>
        <p class="simpletext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum unde magni reprehenderit quaerat explicabo laudantium minima voluptas aut ipsam ipsum nihil dignissimos deserunt illo optio odio tempore repudiandae, quasi non!</p>
        <p class="simpletext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum unde magni reprehenderit quaerat explicabo laudantium minima voluptas aut ipsam ipsum nihil dignissimos deserunt illo optio odio tempore repudiandae, quasi non!</p>
        <p class="simpletext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum unde magni reprehenderit quaerat explicabo laudantium minima voluptas aut ipsam ipsum nihil dignissimos deserunt illo optio odio tempore repudiandae, quasi non!</p>
        <p class="simpletext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum unde magni reprehenderit quaerat explicabo laudantium minima voluptas aut ipsam ipsum nihil dignissimos deserunt illo optio odio tempore repudiandae, quasi non!</p>
        <p class="simpletext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum unde magni reprehenderit quaerat explicabo laudantium minima voluptas aut ipsam ipsum nihil dignissimos deserunt illo optio odio tempore repudiandae, quasi non!</p>
    </div>
</div>
