@{
    ViewBag.Title = "Страница не найдена";
}

<div class="notfound">
    <div class="maintitle_onlysize">Страница не найдена :( </div>
    <a class="maintitle_onlysize" href="index.html">Вернутся на главную </a>
</div>