<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("MetatagsPartial")
    <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!-- Header -->
    @await Html.PartialAsync("HeaderPartial")

    <div>
        @RenderBody()
    </div>
    @await Html.PartialAsync("FooterPartial")
    @await Html.PartialAsync("ScriptsPartial")
</body>
</html>
