<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header class="header">
        <a href="#"><img class="logo" src="img/logo.png"></a>
        <nav>
            <ul class="header__ul">
                <li class="header__li"> <a asp-controller="Home" asp-action="Index">Главная</a></li>
                <li class="header__li"> <a asp-controller="BlogPage" asp-action="Index">Блог</a></li>
                <li class="header__li"> <a asp-controller="About" asp-action="Index">О нас</a></li>
            </ul>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer class="footer">
        <a href="#"><img class="logo" src="img/logo.png"></a>
        <div class="footer__content">
            <div class="footer__copy">© 2020 Кирилин Михаил</div><a href="https://github.com/JanStin"><img src="img/github.svg"></a>
        </div>
    </footer>
</body>
</html>
