<footer class="footer">
    <a asp-controller="Home" asp-action="Index"><img class="logo" src="~/img/logo.png"></a>
    <div class="footer__content">
        <div class="footer__copy">© 2020 Кирилин Михаил</div><a href="https://github.com/JanStin"><img src="~/img/github.svg"></a>
    </div>
</footer>