<header class="header">
    <a asp-controller="Home" asp-action="Index"><img class="logo" src="~/image/logo.png"></a>
    <nav>
        <ul class="header__ul">
            <li class="header__li"> <a asp-controller="Home" asp-action="Index">Главная</a></li>
            <li class="header__li"> <a asp-controller="BlogPage" asp-action="Index">Блог</a></li>
            <li class="header__li"> <a asp-controller="Home" asp-action="About">О нас</a></li>
        </ul>
    </nav>
</header>