<header class="header">
    <a href="#"><img class="logo" src="img/logo.png"></a>
    <nav>
        <ul class="header__ul">
            <li class="header__li"> <a asp-controller="Home" asp-action="Index">Главная</a></li>
            <li class="header__li"> <a asp-controller="BlogPage" asp-action="Index">Блог</a></li>
            <li class="header__li"> <a asp-controller="About" asp-action="Index">О нас</a></li>
        </ul>
    </nav>
</header>