@{
    ViewBag.Title = "Главная страница";
    ViewBag.Description = "Главная страница";
    ViewBag.KeyWords = "Главная, страница, слово";
}

<div class="heroblock" style="background-image: url(image/mountain.jpg)">
    <div class="heroblock__content">
        <h2 class="heroblock__subtitle">I'm a programmer</h2>
        <h1 class="heroblock__title">My name is Misha Kirilin</h1>
        <p class="heroblock__button">Узнать больше</p>
    </div>
</div>
<div class="section">
    <div class="herotext">
        <div class="herotext__content">
            <h2 class="subtitle">Introducing The User Testing Field Guide</h2>
            <p class="herotext__text">We’re excited to launch our awesome free field guide for individuals and teams that have always wanted to get started with usability testing but didn’t know where to start. We’re excited to launch our awesome free field guide for individuals and teams that have always wanted to get started with usability testing but didn’t know where to start. We’re excited to launch our awesome free field guide for individuals and teams that have always wanted to get started with usability testing but didn’t know where to start.</p>
        </div>
    </div>
</div>
<div class="mosaic">
    <div class="mosaic__top">
        <div class="mosaic__half">
            <img class="mosaic__image" src="~/image/1m.jpg" alt="">
            <div class="mosaic__overlay">
                <p class="mosaic__text">Text</p>
            </div>
        </div>
        <div class="mosaic__half">
            <img class="mosaic__image" src="~/image/2m.jpg" alt="">
            <div class="mosaic__overlay">
                <p class="mosaic__text">Thanks for watching! You can ask us anything, but please remember we can't answer every question or discuss future projects.Twitch PrimeUncleTaft: were the winners chosen for the flashlight?</p>
            </div>
        </div>
    </div>
    <div class="mosaic__bottom">
        <div class="mosaic__quarter">
            <img class="mosaic__image" src="~/image/3m.jpg" alt="">
            <div class="mosaic__overlay">
                <p class="mosaic__text">Thanks for watching! You can ask us anything, but please remember we can't answer every question or discuss future projects.Twitch PrimeUncleTaft: were the winners chosen for the flashlight?</p>
            </div>
        </div>
        <div class="mosaic__quarter">
            <img class="mosaic__image" src="~/image/4m.jpg" alt="">
            <div class="mosaic__overlay">
                <p class="mosaic__text">Thanks for watching! You can ask us anything, but please remember we can't answer every question or discuss future projects.Twitch PrimeUncleTaft: were the winners chosen for the flashlight?</p>
            </div>
        </div>
        <div class="mosaic__quarter">
            <img class="mosaic__image" src="~/image/5m.jpg" alt="">
            <div class="mosaic__overlay">
                <p class="mosaic__text">Thanks for watching! You can ask us anything, but please remember we can't answer every question or discuss future projects.Twitch PrimeUncleTaft: were the winners chosen for the flashlight?</p>
            </div>
        </div>
        <div class="mosaic__quarter">
            <img class="mosaic__image" src="~/image/6m.jpg" alt="">
            <div class="mosaic__overlay">
                <p class="mosaic__text">Thanks for watching! You can ask us anything, but please remember we can't answer every question or discuss future projects.Twitch PrimeUncleTaft: were the winners chosen for the flashlight?</p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="herotext">
        <div class="herotext__content">
            <h2 class="subtitle">Introducing The User Testing Field Guide</h2>
            <p class="herotext__text">We’re excited to launch our awesome free field guide for individuals and teams that have always wanted to get started with usability testing but didn’t know where to start. We’re excited to launch our awesome free field guide for individuals and teams that have always wanted to get started with usability testing but didn’t know where to start. We’re excited to launch our awesome free field guide for individuals and teams that have always wanted to get started with usability testing but didn’t know where to start.</p>
        </div>
    </div>
</div>