@{ 
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.KeyWords = Model.MetaKeywords;
}

    <div class="article">
        <h1 class="maintitle">@Model.Title</h1>
        @Html.Raw(Model.Article)
    </div>
